<%= dm_form_for [@picking_document, @legal_download], title: @legal_download.disposal_type.to_s_complete, data: { turbo: false } do |f| %>

  <div class="my-2">
    <%= render DisposalType::InfoComponent.new(@legal_download.disposal_type) %>  
  </div>

  <% if @legal_download.new_record? %>  
    <div class="offset-sm-3 alert alert-info pt-2">
      <%= render LegalRecord::LastComponent.new(current_organization) %>  
    </div>
  <% end %>
  <%= f.input :number %>
  <%= f.input :date, as: :date, html5: true %>  
  <%= f.submit "Salva" %>  
<% end %>

<%= render PickingDocument::DisposalsCardComponent.new(current_user, @legal_download.picking_document) %>
