<%= dm_form_for [@picking_document, @legal_download], title: "Tipologia rifiuti: #{@disposal_type}" do |f| %>
  <% if @legal_download.new_record? %>  
    <div class="alert alert-info pt-2">
      Ultima registrazione: 
      <% year = Date.today.year %>  
      <%= year %> / <span style="font-weight: bold; font-size: 140%"><%= current_organization.legal_records.where(year: year).maximum(:number) %></span>
    </div>
  <% end %>
  <%= f.input :number %>
  <%= f.input :date, as: :date, html5: true %>  
  <%= f.submit "Salva" %>  
<% end %>

<%= render PickingDocument::DisposalsCardComponent.new(current_user, @legal_download.picking_document) %>
