<h1>Scegli formato</h1>

<div class="centered">
  <%= form_for :print, url: prints_path do |f| %>  

    <h2 class="my-4">Scegli gli scarichi che vuoi stampare</h2>
    <% @disposals.each do |disposal| %>  
        <label class="border p-2">
          <input type="checkbox" name="disposal_ids[]" value="<%= disposal.id %>"/>
          <span class="badge badge-primary"><%= disposal.id %></span>
          <%= disposal.disposal_type %> <br/>
          <%= disposal.kgs %> Kg. -
          <%= disposal.volume %> Litri del <%= l disposal.created_at %>  
        </label>
    <% end %>

    <h2 class="my-4">Scegli il formato del foglio</h2>
    <table style="margin: auto; max-width: 300px">
      <% [1,2,3].each do |row| %>  
        <tr>
          <% [1,2,3].each do |col| %>
            <td><input type="checkbox" name="paper_boxes[]" value="<%= row %>-<%= col %>"/></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= f.submit %>  
  <% end %>
</div>
