<h1>Scegli formato</h1>

<div class="centered">
  <%= form_for :print, url: prints_path do |f| %>  

    <h2 class="my-4">Scegli gli scarichi che vuoi stampare</h2>
    <% @disposals.each do |disposal| %>  
      <div>
        <label>
          <input type="checkbox" name="disposal_ids[]" value="<%= disposal.id %>"/>
          <%= disposal.disposal_type %> - 
          <%= disposal.kgs %> Kg. -
          <%= disposal.volume %> Litri
        </label>
      </div>
    <% end %>

    <h2 class="my-4">Scegli il formato del foglio</h2>
    <table style="margin: auto; max-width: 300px">
      <% [1,2,3].each do |row| %>  
        <tr>
          <% [1,2,3].each do |col| %>
            <td><input type="checkbox" name="paper_boxes[]" value="<%= row %>-<%= col %>"/></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= f.submit %>  
  <% end %>
</div>
