<h1>Scegli formato</h1>

<div class="centered">
  <%= form_for :print, url: prints_path do |f| %>  
    <h2 class="my-4">Scegli gli scarichi che vuoi stampare</h2>

    <div class="row">
      <% @disposals.each do |disposal| %>  
        <div class="col-6 col-md-4">
          <label class="border p-2">
            <input type="checkbox" name="disposal_ids[]" value="<%= disposal.id %>"/>
            <span class="badge badge-primary"><%= disposal.id %></span>
            <%= disposal.disposal_type %> <br/>
            <small><%= disposal.kgs %> Kg. - <%= disposal.volume %> Litri del <%= l disposal.created_at %></small>
          </label>
        </div>
      <% end %>
    </div>

    <h2 class="my-4">Scegli le etichette da stampare</h2>
    <p class="info">
    Immagina che questo sotto sia un foglio A4 di etichette da stampare <br/> e scegli su quali etichette vuoi che si trovino
    gli scarichi che hai selezionato sopra.
    </p>

    <table style="margin: auto; max-width: 300px; border: 2px solid black">
      <% [1,2,3].each do |col| %>  
        <tr>
          <% [1,2,3].each do |row| %>
            <td>
              <input type="checkbox" name="paper_boxes[]" value="<%= row %>-<%= col %>" style="transform: scale(2);"/>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= f.submit "Crea pdf", class: "my-4" %>  
  <% end %>
</div>
