<h1>Stampa Etichette</h1>

<%= form_for :print, url: prints_path, html: { data: { turbo: false } } do |f| %>  
  <div class="row">
    <div class="col-4">
      <h2 class="my-2">Scegli le etichette da stampare</h2>

      <p class="info small">
      Immagina che questo sotto sia un foglio A4 di etichette da stampare 
      e scegli su quali etichette vuoi che si trovino gli scarichi che selezioni a fianco.
      </p>

      <table style="margin: auto; max-width: 300px; border: 2px solid black" role="presentation" aria-label="Scelta etichette">
        <% [1,2,3,4,5].each do |col| %>  
          <tr>
            <% [1,2].each do |row| %>
              <td style="text-align: center">
                <input type="checkbox" name="paper_boxes[]" value="<%= row %>-<%= col %>" style="transform: scale(2);" class="print_positions" />
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>

      <div class="centered my-2">
        <%= link_to 'seleziona tutte', '#', onClick: "document.querySelectorAll('.print_positions').forEach((x) => x.checked = true)" %>  
      </div>

      <div class="alert bg-warning my-4 p-2 small">
        Prima di stampare selezionate tra le proprietà di stampa "scala personalizzata: 100%".
      </div>
      <div class="centered">
        <%= f.submit "Crea pdf", class: "my-4" %>
      </div>
    </div>
    <div class="col-8">
      <h2 class="my-2">Scegli gli scarichi che vuoi stampare</h2>

      <div class="">
        <% @disposals.each do |disposal| %>  
          <label class="list-group-itema">
            <input type="checkbox" name="disposal_ids[]" value="<%= disposal.id %>"/>
            <span class="badge bg-info font-monospace font-lg"><%= disposal.id %></span>
            <%= disposal.disposal_type %> 
            <small><%= disposal.kgs %> Kg. - <%= disposal.volume %> Litri del <%= l disposal.created_at %></small>
          </label>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
