<%= simple_form_for @disposal_type do |f| %>  
  <div id="solid-liquid">  
    <%= f.input :physical_state, collection: [['solido SNP (NON polverulento)', 'snp'], 
                                              ['solido SP  (polverulento)', 'sp'], 
                                              ['liquido', 'liq']], 
    as: :radio_buttons %>  
  </div>

  <%= f.input :separable, label: '' %>  

  <%= f.association :cer_code, collection: CerCode.order(:name), as: :radio_buttons, include_blank: false, label_method: :to_s %>
  <%= f.association :un_code, collection: UnCode.order(:id), as: :radio_buttons, include_blank: true, label_method: :to_s %>  
  <%= f.association :hp_codes, collection: HpCode.order(:id), as: :check_boxes, label_method: :code %>  
  <%= f.association :adrs, collection: Adr.order(:id), as: :check_boxes, label_method: :name %>  

  <%= f.association :pictograms, collection: Pictogram.order(:id), as: :check_boxes, label_method: lambda {|p| image_tag p.image, width: 80} %>  

  <%= f.input :notes %>  

  <%= f.submit %>  
<% end %>
