<%= simple_form_for @disposal_type do |f| %>  
  <%= f.dm_error_notification %>  

  <% if @disposal_type.new_record? || !@disposal_type.compliance_id %>
    <%= f.association :compliance, collection: current_organization.all_compliances, hint: "Attiva, se selzionata, la cosiddetta 'procedura di omologa', ossia la verifica di corrispondenza delle caratteristiche del rifiuto in accettazione all’impianto con quelle fornite in fase di programmazione del conferimento." %>
  <% end %>
  
  <div id="solid-liquid">  
    <%= f.input :physical_state, collection: [['solido SNP (NON polverulento)', 'snp'], 
                                              ['solido SP (polverulento)', 'sp'], 
                                              ['liquido', 'liq']], 
    as: :radio_buttons %>  
  </div>

  <%= f.input :hidden, label: '' %>  
  <%= f.input :separable, label: '' %>  

  <%= f.association :cer_code, collection: CerCode.order(:name), as: :radio_buttons, include_blank: false, label_method: :to_s %>
  <%# f.association :un_code, collection:UnCode.order(:id) label_method: :to_s, include_blank: true NON funziona %>  
  <% c = [[" -- ", ""]] + UnCode.order(:id).map{|u| [u.to_s, u.id]} %>  
  <%= f.association :un_code, collection: c, as: :radio_buttons %>  
  <%= f.association :hp_codes, collection: HpCode.order(:id), as: :check_boxes, label_method: :code %>  
  <%= f.association :adrs, collection: Adr.order(:id), as: :check_boxes, label_method: :name %>  

  <%= f.association :pictograms, collection: Pictogram.order(:id), as: :check_boxes, label_method: lambda {|p| image_tag p.image, width: 80} %>  
  <%= f.association :containers, collection: Container.order(:volume), label_method: :to_s, as: :check_boxes %>  

  <%= f.input :notes %>  
  <%= f.input :legalizable, label: '' %>  

  <%= f.submit %> - <%= link_to_back disposal_types_path %>  
<% end %>
