<h1>Tipologie di rifiuti</h1>

<div class="alert alert-warning" role="alert">
  Le tipologie di rifiuti sono relative alla vostra struttura <%= current_organization.name %>.
</div>

<% if policy(current_organization).manage? %>  
  <div class="centered my-2">
    <%= link_to 'Aggiungi una nuova tipologia di rifiuti', new_disposal_type_path, class: 'button' %>  
  </div>
<% end %>

<div class="" data-controller="limit-visible">
  <% if @disposals_cers.size > 1 %>  
    <form class="my-2 centered disposal_cer_selector">
      <small class="text-muted">mostra solo CER</small>
      <% @disposals_cers.each do |cer_code| %>  
        <input type="radio" 
               id="<%= dom_id(cer_code) %>" 
               name="disposal_to_show" 
               value="c_<%= cer_code.id %>" 
               data-action="change->limit-visible#update" />
        <label for="<%= dom_id(cer_code) %>">
          <%= cer_code.name %>  
        </label>
      <% end %>
    </form>
  <% end %>

  <% @disposal_types.each do |disposal_type| %>  
    <div data-limit-visible-target="item" data-text="c_<%= disposal_type.cer_code_id %>">
      <%= render DisposalType::CardComponent.new(current_user, disposal_type) %>
    </div>
  <% end %>
</div>
