<div class="row">
  <div class="col-md-6">
    <div class="fw-bold">
      <%= @expected_kgs %> Kg. <%= @expected_volume %> L.
    </div>
    <% if @picking_document %>  
      <div>
        <span class="d-inline fw-bold <%= @all_ok ? 'text-success' : 'text-danger' %>">
          <%= @picking_document.kgs %> Kg.
          <%= @picking_document.volume %> L.
        </span>
        &nbsp; da formulario <%= @picking_document.serial_number %> - <%= @picking_document.register_number_with_year %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 text-end">
    <% if @picking_document_policy.edit? %>
      <%= link_to 'Modifica formulario', [:edit, @picking_document], class: 'btn btn-sm btn-success' %> 
    <% elsif ! @picking_document %>
      <%= link_to 'Aggiungi formulario', new_picking_picking_document_path(@picking, disposal_type_id: @disposal_type.id), class: 'btn btn-sm btn-primary' %>  
    <% end %>
  </div>
</div>
