<h1>MUD <%= @year %></h1>

<div class="my-2 text-center">
  <% (2020..Date.today.year).each do |y| %>
    <%= link_to y, mud_path(y: y), class: "btn #{(y == @year) ? "btn-success" : "btn-info"}" %>
  <% end %>
</div>

<table class="table table-bordered text-end">
  <thead>
    <tr class="table-primary">
      <th>Cer</th>
      <td>P. Netto</td>
      <td>Rimanenza</td>
      <td>Totale</td>
    </tr>
  </thead>
  <tbody>
    <% @mud.all_cers.each do |cer_code| %>  
      <tr>
        <th title="<%= cer_code.description %>">
          <%= cer_code %>
        </th>
        <td>
          <% kg1 = 0.0 %>
          <% @picked_kgs[cer_code].each do |supplier, kgs| %>
            <% kgs ||= 0.0 %>
            <div>
              <div class="d-inline text-end"><%= supplier %>:</div>
              <div class="d-inline-block fw-bold" style="width: 5em"><%= kgs.round(1) %></div>
            </div>
            <% kg1 += kgs.round(1) %> 
          <% end %>
        </td>
        <td> 
          <%= kg2 = @remainders_kgs[cer_code] ? @remainders_kgs[cer_code].round(1) : 0 %> 
        </td>
        <td>
          <%= kg1 + kg2 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# render Disposal::BadgeComponent.new(current_user, disposal) %>  
