<div class="dm-card">
  <div class="card-header">
    <div>
      <strong><%= @disposal_type.to_s %></strong>
      <% if @editable %>
        <% if @policy.edit? %>  
          <div class="float-end fs-5 ps-1"><%= link_to_edit "", [:edit, @disposal_type] %></div>
        <% end %>
        <% if @policy.show? %>
          <div class="float-end fs-5 ps-1"><%= link_to_show "", @disposal_type %></div>
        <% end %>
      <% end %>
      <div class="float-end">
        <%= render DisposalType::PictogramsComponent.new(@disposal_type, size: 40) %>  
      </div>
    </div>
    <div class="fw-normal">
      <%= @disposal_type.adrs_to_s %> &nbsp;
      <% @disposal_type.hp_codes.each do |hp| %>
        <span class="badge rounded-pill bg-warning text-dark" style="font-size: 65%" title="<%= hp.description %>">
          <%= hp.code %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="dm-card-body">
    <div class="text-primary" style="font-size: 80%">
      <% if @disposal_type.compliance %>
        <strong>OMOLOGA:</strong> 
        <% if @with_links %>
          <%= link_to @disposal_type.compliance, [@disposal_type.compliance, modal: 1], data: {turbo_frame: "modal"} %>
        <% else %>
          <%= @disposal_type.compliance %>
        <% end %><br/>
      <% end %>
      <% if @disposal_type.un_code %>  
        <strong>UN:</strong> <%= @disposal_type.un_code.name.upcase %><br/>
      <% end %>
      <strong>CER:</strong> <%= @disposal_type.cer_code.description.upcase %><br/>
      <% if @disposal_type.separable %>  
        Rifiuti cumulabili
      <% end %>
    </div>
    <% unless @disposal_type.notes.blank? %>  
      <div class="text-body-secondary fst-italic ps-2">
        <%= @disposal_type.notes %>
      </div>
    <% end %>
  </div>
</div>
