<div class="dm-card <%= @highlight %>" id="<%= dom_id @disposal %>" style="margin-top: 0.5rem !important; margin-bottom: 0.5rem !important">
  <% if @modal %>  
    <%= render Disposal::CardTitleComponent.new(@disposal) %>  
  <% else %>
    <%= link_to disposal_path(@disposal, modal: 1), data: { turbo_frame: :modal } do %>  
      <%= render Disposal::CardTitleComponent.new(@disposal) %>  
    <% end %>
  <% end %>

  <div class="dm-card-body">
    <div class="row">
      <div class="col-md-3 pe-1">
        <div class="fw-bold">
          <%= @disposal.volume_tot %> <small>L.</small><br/>
        </div>
        <div class="fw-bold">
          <% if @disposal.kgs > 0 %>  
            <%= @disposal.kgs %> <small>Kg.</small>
          <% else %>
            <span class="text-danger">? <small>Kg.</small></span>
          <% end %>
        </div>
      </div><!-- col-md-3 -->
      <div class="col-md-9">
        <div>
          <% if @disposal.multiple_users %>
            Punto di raccolta generico:
          <% else %>
            <%= t :producer %>:
          <% end %>
          <%= link_to @disposal.producer, disposals_path(u: @disposal.producer.id), data: { turbo: false } %>
          <% if @disposal.producer_id != @disposal.user_id %>  
            <small>(da <%= link_to @disposal.user, disposals_path(u: @disposal.user_id), data: { turbo: false } %>)</small> 
          <% end %> 
        </div>
        <% if @with_details %> 
          <div>
            <%= t :laboratory %>: <%= @disposal.lab %>
          </div>
          <div class="text-muted small my-2">
            <%= render Disposal::HistoryComponent.new(@disposal) %>  
            <div class="font-italic text-gray-500">
              <%= @disposal.notes %>  
            </div>
          </div>
        <% else %>
          <%= t :created_at %> <%= l @disposal.created_at %> 
        <% end %>
      </div><!-- col-md-9 -->
    </div> <!-- row -->

    <% if @with_details %>  
      <div class="details p-2 small text-info">
        <%= render DisposalType::InfoComponent.new(@disposal.disposal_type) %>  
        <div><strong>Contenitore:</strong> <%= @disposal.container %> (<%= @disposal.units %>)</div>
      </div>
    <% else %>
      <div>
        <strong><%= @disposal.units %></strong>
        <%= @disposal.container %>
      </div>
    <% end %>

    <div class="row mt-2">
      <div class="col-md-6">
        <%= render Disposal::StatusComponent.new(@current_user, @disposal, no_link: @modal) %>  
      </div>
      <div class="col-md-6">
        <% unless defined?(no_actions) || @disposal.delivered? %>  
          <div class="text-end">
            <%= link_to(dm_icon('clone', fw: true), [:clone, @disposal], title: 'Crea nuovo rifiuto simile') %>
            <%= link_to(dm_icon('edit', fw: true), [:edit, @disposal], title: 'Modifica il rifiuto') if @policy.edit? %>  
            <%= helpers.link_to_delete("", @disposal) if @policy.destroy? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
