<div class="dm-card">
  <div class="dm-card-title <%= @disposal.approved? ? 'border-success' : '' %>">
    <div>
      <%= @disposal.disposal_type.to_s %>
      <span class="float-end"><%= @disposal.id %></span>
    </div>
    <div class="small fw-normal">
      <%= @disposal.disposal_type.hp_codes_to_s %>
    </div>
  </div>
  <div class="dm-card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="fw-bold">
          <%= @disposal.volume %> L. <br/>
          <% if @disposal.kgs %>  
            <%= @disposal.kgs %> Kg. 
          <% else %>
            <span class="text-danger">? Kg</span>
          <% end %>
        </div>
      </div>
      <div class="col-md-9">
        Produttore: <%= link_to @disposal.producer, disposals_path(u: @disposal.producer.id) %>
        <% if @disposal.producer_id != @disposal.user_id %>  
          <small>(da <%= link_to @disposal.user, disposals_path(u: @disposal.user_id) %>)</small> 
        <% end %> 
        <div class="text-muted small">
          Lab: <%= @disposal.lab %><br/>
          Richiesta del <%= l @disposal.created_at %> <br/>
          <div class="font-italic text-gray-500">
            <%= @disposal.notes %>  
          </div>
        </div>
      </div>
    </div> <!-- row -->
    <% if @with_details %>  
      <div class="details p-2 small text-info">
        <% if @disposal.disposal_type.un_code %>  
          <strong>un:</strong> <%= @disposal.disposal_type.un_code.name.upcase %><br/>  
        <% end %>
        <strong>cer:</strong> <%= @disposal.disposal_type.cer_code.description.upcase %><br/>
        <strong>stato:</strong> <%= t @disposal.disposal_type.physical_state %>
      </div>
    <% end %>
    <div class="row mt-2">
      <div class="col-md-6">
        <%= link_to @disposal do %>
          <%= raw @status_icon %> 
          <%= @disposal.approved_at ? '' : '(non ancora accettato)' %> 
        <% end %>
        <% if @disposal.delivered? %>  
          CONSEGNATO il <%= @disposal.delivered_at %>  
      <% elsif @disposal.picking_id %>  
        <%= link_to dmicon('truck'), edit_picking_path(@disposal.picking_id), title: 'Associato a ritiro' %>  
      <% end %>
      </div>
      <div class="col-md-6">
        <% unless defined?(no_actions) || @disposal.delivered? %>  
          <div class="text-end">
            <%= link_to(fwdmicon('edit', size: 21), [:edit, @disposal], title: 'Modifica il rifiuto') if @policy.edit? %>  
            <%= link_to(fwdmicon('clone', size: 21), [:clone, @disposal], title: 'Crea nuovo rifiuto simile') %>
            <%= link_to(fwdmicon('eye', size: 21), @disposal, title: 'Mostra dettagli') %>
            <%= link_to(fwdmicon('trash-alt', size: 21), @disposal, method: :delete, title: 'Elimina il rifiuto', data: {confirm: 'Siete sicuri di voler cancellare?'}) if @policy.destroy? %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> <!-- dm-card -->


