<h1>Nuovo operatore</h1>

<div class="centered">
  <div class="my-4">
    Inserire la mail del collega abilitato a operare in nome di <strong><%= @producer %></strong>.
  </div>
  <%= form_with url: producer_operators_path(@producer) do |f| %>  
    <%= f.label 'email: ' %>  
    <%= f.text_field :upn %>  
    <%= f.submit "Invia" %>  
  <% end %>
</div>
