<h1>Nuovo operatore per <br/><%= @producer %></h1>

<div class="centered">
  <div class="info">
    Inserire la mail del collega abilitato a operare in nome di <%= @producer %>  
  </div>
  <%= form_with url: producer_operators_path(@producer) do |f| %>  
    <%= f.label :upn %>  
    <%= f.text_field :upn %>  
    <%= f.submit "Invia" %>  
  <% end %>
</div>
