<div class="dm-card">
  <div class="dm-card-title">
    Registrazione di scarico n. <%= @legal_download %> del <%= l(@legal_download.date) %>
  </div>

  <div class="dm-card-body">
    <div class="alert alert-info fw-bold"><%= @legal_download.disposal_type %></div>

    <div>
      <%= link_to @picking, @picking, class: 'fw-bold underline' %> 
      <%= "(completato)" if @picking.completed? %>  
    </div>

    <div class="my-2">
      Formulario: <%= @picking_document %>  
    </div>

    <div class="my-3">
      <% @picking_document.disposals.each do |disposal| %>  
        <%= render Disposal::BadgeComponent.new(@current_user, disposal) %>  
      <% end %>
    </div>
    <hr/>
    <div>
      <%= render Disposal::GroupDetailsComponent.new(@picking_document.disposals) %>  
    </div>
    <div>
      Registri di carico associati: 
      <% @picking_document.legal_uploads.each do |lu| %>
        <%= link_to lu, lu, class: 'ps-1 underline' %>  
      <% end %>
    </div>
  </div>

  <% if @policy.edit? %>  
    <div class="my-2 text-center">
      <%= link_to 'Modifica', [:edit, @legal_download], class: :button %>  
    </div>
  <% else %>
    <div class="pb-2 ps-4 text-warning">
      Documento non modificabile.
    </div>
  <% end %>
</div>
