<div class="alert alert-info">
  <%= @picking_document.disposal_type %>  
</div>

<%= dm_form_for [@picking, @picking_document], title: @picking.to_s do |f| %>
  <%= f.input :disposal_type_id, as: :hidden %>  
  <%= f.input :serial_number %>  

  <br/>

  <%= f.input :kgs %>  
  <%= f.input :volume %>  
  <%= f.submit %>  
<% end %>
