<div class="dm-card">
  <div class="dm-card-title">
    Formulario <%= @picking_document.serial_number %>
  </div>
  <div class="dm-card-body">

    <% legal_download = @picking_document.legal_download %>  

    <div class="lert alert-info">
      <div>Tipologia: <%= @picking_document.disposal_type %></div>
      <div>Formulario: <%= @picking_document.serial_number %></div>
      <div>Peso: <%= @picking_document.kgs %> Kg.</div>
      <div>Volume: <%= @picking_document.volume.to_i %> L.</div>
      <div>Registro: <%= link_to(legal_download, legal_download) if legal_download %></div>
    </div>

    <div class="fw-bold my-2"><%= link_to @picking_document.picking, @picking_document.picking, class: 'underline' %></div>
  </div>
  <% if policy(@picking_document).edit? %>  
    <div class="dm-card-footer text-center">
      <%= link_to 'Modifica', [:edit, @picking_document], class: 'button mx-auto' %>
    </div>
  <% end %>
</div>

<%= render PickingDocument::DisposalsCardComponent.new(current_user, @picking_document) %>
