<%= dm_card title: "Contratti" do %>
  <ul>
    <% @contracts.each do |contract| %>  
      <li class="d-flex flex-row">
        <div class="flex-grow-1">
          <strong title="<%= contract.cer_code.description %>">CER <%= contract.cer_code.name %></strong>
          prezzo <%= contract.price_to_s %><small> / kg.</small>
        </div>
        <div class="text-right">
          <%= helpers.link_to_delete contract_path(contract) %>
          <%= link_to fwdmicon('edit'), [:edit, contract], data: { turbo_frame: :modal } %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<%= dm_card title: "Crea nuovo contratto scgliendo il codice CER" do %>
<div data-controller="limit-visible">
  <div class="centered my-2">
    <input class="form-control text" placeholder="Scrivi parte del codice CER" type="text" data-action="input->limit-visible#update"></input>
  </div>
  <ul>
    <% @other_cer_codes.each do |cer_code| %>  
      <li class="" data-limit-visible-target="item" data-text="<%= cer_code.name %>">
        <%= link_to cer_code, [:new, @supplier, :contract, cer_code_id: cer_code.id], class: 'btn btn-outline-secondary btn-sm w-50 mx-auto', data: { turbo_frame: :modal } %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
