<h1>
  Codici CER
</h1>

<div class="alert alert-warning" role="alert">
  I codici CER sono <b>comuni a tutte le strutture</b>.<br/>
  Vi preghiamo di inserire/aggiornare questi dati con cura.
</div>

<% if policy(:cer_code).new? %>  
  <div class="centered my-4">
    <%= link_to 'Aggiungi nuovo codice CER', new_cer_code_path, class: 'btn btn-primary' %>  
  </div>
<% end %>

<div class="list-group">
  <% @cer_codes.each do |cc| %>  
    <%= link_to [:edit, cc], class: "list-group-item list-group-item-action" do %>
      <strong><%= cc %></strong> <br/>
      <span class="pl-2 small fst-italic"><%= cc.description %></span><br/>
      <% if (s = cc.suppliers.to_a).any? %>  
        <span class="pl-2 small">ritiri con <%= s.map(&:name).join(', ') %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
