<%= link_to @picking, class: "list-group-item list-group-item-action #{background}" do %>  
  <div class="my-2">
    <span class="pe-3"><%= @picking.date ? l(@picking.date) : '' %></span>   
    <strong><%= @picking.supplier.to_s.upcase %></strong>
    <span class="float-end"><%= @picking.status %></span>
  </div>
  <div class="text-end">
    <% @picking.picking_documents.each do |pd| %>  
      <span class="badge bg-light text-dark"><%= pd %></span>
    <% end %>
  </div>
<% end %>
