<% component_details.each do |item| %>
  <div class="card">
    <div class="card-header bg-light fw-bold"><%= item.name %></div>
    <div class="card-body">
      <dl class="dl-horizontal">
        <dt>Frasi H (CLP)</dt>
        <% item.hazards.each do |hazard| %>
          <dd>
            <strong><%= hazard.code %></strong> <small>(<%= hazard.category %>)</small>
            <small class="ps-1"><%= hazard.phrase %></small>
          </dd>
        <% end %>
        <dt>Stima di concentrazione</dt>
        <dd><%= item.percentage %>%</dd>
        <dt>HP</dt>
        <dd><%= item.hp_codes.map(&:code).join(" - ") %></dd>
        <dt>ADR(UN)</dt>
        <dd><%= item.un_code %></dd>
        <dt>ADR classe</dt>
        <dd><%= item.adrs.map(&:name).join(" - ") %></dd>
        <dt>ADR Gruppo imballaggio</dt>
        <dd></dd>
      </dl>
    </div>
    <% if policy(item).edit? %>
      <div class="card-footer">
        <%= link_to "Modifica", [:edit, item.disposal_description, item], class: "btn btn-primary float-end" %>
      </div>
    <% end %>
  </div>
<% end %>

