<h1>Schede descrittive rifiuti</h1>

<ul class="list-group">
  <% @disposal_descriptions.each do |item| %>
    <%= link_to item, class: "list-group-item list-group-item-action" do %>
      <strong><%= item %></strong><br/>
      <%= item.organization.code %> &nbsp; <%= item.user %>
    <% end %>
  <% end %>
</ul>

<%= link_to "Nuova SDR", new_disposal_description_path, class: "my-2 btn btn-primary" %>
