<%= dm_card title: disposal.disposal_type.to_s, add_class: (disposal.approved? ? 'border-success' : '') do %>  
  <div>
    Identificativo: <%= disposal.id %> <br/> 
    Richiedente: <%= link_to disposal.user, disposals_path(u: disposal.user_id) %> <br/>
    <% producer = disposal.producer ? disposal.producer : disposal.user %>  
    Produttore: <%= link_to producer, disposals_path(u: producer.id) %> <br/>
    Laboratorio: <%= disposal.lab %><br/>
    Data richiesta: <%= l disposal.created_at %> <br/>
    Stato: <%= disposal.status %> <%= '<i class="fas fa-check text-success"></i>'.html_safe if disposal.approved? %>    
  </div>
  <div class="small text-info">
    <strong>UN:</strong> <%= disposal.disposal_type.un_code.name.upcase %><br/>  
    <strong>CER:</strong> <%= disposal.disposal_type.cer_code.description.upcase %><br/>
    <strong>HP:</strong> <%= disposal.disposal_type.hp_codes_to_s %><br/>
    <strong>STATO:</strong> <%= t disposal.disposal_type.physical_state %>
  </div>
  <hr/>
  <div class="font-weight-bold">
    <%= disposal.volume %> Litri <br/>
    <%= disposal.kgs %> Kg 
  </div>
  <div class="font-italic text-gray-500 p-2">
    <%= disposal.notes %>  
  </div>
  <div class="text-right">
    <%= link_to fwdmicon('eye'), disposal %>
    <%= link_to_edit([:edit, disposal]) if policy(disposal).edit? %>  
    <%= link_to_delete(disposal) if policy(disposal).destroy? %>  
  </div>
<% end %>
