<%= dm_card title: disposal.disposal_type.to_s, add_class: (disposal.approved? ? 'border-success' : '') do %>  
  <div>
    Richiedente: <%= link_to disposal.user, disposals_path(u: disposal.user_id) %>  <br/>
    Stato: <%= disposal.status %>  
  </div>
  <div class="small text-info">
    <strong>UN:</strong> <%= disposal.disposal_type.un_code.name.upcase %><br/>  
    <strong>CER:</strong> <%= disposal.disposal_type.cer_code.description.upcase %><br/>
    <strong>STATO:</strong> <%= t disposal.disposal_type.physical_state %>
  </div>
  <hr/>
  <div class="font-weight-bold">
    <% if disposal.liquid? %>  
      <%= disposal.liters %> Litri
    <% else %>  
      <%= disposal.kgs %> Kg 
    <% end %>
  </div>
  <div>
    <% disposal.volumes.each do |v| %>
      <div style="font-size: 140%">
        <div class="badge badge-warning px-3">
          <strong><%= v.num %></strong> x <%= v.liters %>L
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to_edit [:edit, disposal] %>  
    <%= link_to fwdmicon('eye'), disposal %>
  </div>
<% end %>
