<% volumes_collection = @disposal.disposal_type.available_volumes.map { |v| ["#{v} litri", v] } %>  

<%= simple_form_for [@disposal_type, @disposal], wrapper: :horizontal_form do |f| %>  
  <%= f.dm_error_notification %>  

  <% buildings = current_organization.buildings.order(:name).to_a %>
  <% current_building_id = @disposal.lab_id ? @disposal.lab.building_id : 0 %>  

  <% if buildings.size > 1 %>  
    <div data-controller="disposal-lab">
      <div id="building_id" class="row mb-3 select required">
        <label class="col-sm-3 col-form-label select required" for="building_id">Edificio</label>
        <div class="col-sm-3">
          <select name="building" class="form-select" data-action="disposal-lab#change_building">
            <option value=""></option>
            <% buildings.each do |b| %>  
              <% selected = b.id == current_building_id ? 'selected="selected"' : '' %>
              <option value="<%= b.id %>" <%= selected %>><%= b.to_s_complete %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div id="lab_id" class="row mb-3 select required">
        <label class="col-sm-3 col-form-label select required" for="building_id">Lab</label>
        <div class="col-sm-3">
          <select name="disposal[lab_id]" data-disposal-lab-target="labs" name="building" class="form-select">
            <option value=""></option>
            <% current_organization.labs.order(:name).each do |l| %>  
              <% selected = l.id == @disposal.lab_id ? 'selected="selected"' : '' %>  
              <option value="<%= l.id %>" data-building-id="<%= l.building_id %>" <%= selected %>><%= l %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  <% else %>
    <%= f.association :lab, collection: current_organization.labs.order(:name) %>  
  <% end %>

  <% if @permitted_producers && @permitted_producers.any? %>  
    <%= f.association :producer, collection: @permitted_producers, include_blank: false, label_method: :cn_militar %>  
  <% elsif policy(current_organization).manage? %>
    <%= content_tag :div, data: { controller: "dsa-awesomplete", dsa_awesomplete_users_value: @cache_users_json } do %>
      <%= f.input :producer_upn, placeholder: current_user.upn %>
    <% end %>
  <% end %>

  <%= f.input :kgs, input_html: { step: 0.1, style: 'max-width: 8rem' } %>  

  <%= f.input :volume, as: :radio_buttons, collection: volumes_collection, wrapper: :horizontal_collection %>  
  <% if @disposal.disposal_type.separable %>  
    <%= f.input :units, input_html: { style: 'max-width: 8rem' } %>  
  <% end %>

  <%= f.input :notes %>  

  <%= f.submit %> - 
  <%= link_to 'torna alla lista degli scarichi', disposals_path(h: @disposal.id, anchor: dom_id(@disposal)), class: 'underline', data: { turbo: false } %>
<% end %>
