<%= simple_form_for @disposal do |f| %>  
  <div class="row">
    <div class="col-md-4">
      <%= f.association :cer_code, as: :radio_buttons, include_blank: false, label_method: :to_s, label: false %>
    </div>
    <div class="col-md-4">
      <%= f.association :un_code,  as: :radio_buttons, include_blank: false, label_method: :to_s, label: false %>  
    </div>
    <div class="col-md-4">
      <%= f.association :hp_codes, as: :check_boxes, label_method: :code, label: false %>  
    </div>
  </div>

  <div id="solid-liquid">  
    <%= f.input :physical_state, collection: [['SNP (solido NON polverulento)', 'snp'], 
                                              ['SP  (solido polverulento)', 'sp'], 
                                              ['liquido', 'liq']], 
    as: :radio_buttons %>  
  </div>

  <div id="kilos">
    <%= f.input :kgs %>  
    <div class="form-group row">
      <% Disposal.available_liters[:solid].each do |l| %>  
        <label class="col-sm-3 col-form-label">x <%= l %>L</label>
        <div class="col-sm-9">
          <input class="form-control numeric integer" type="number" name="solid[<%= l %>]" value="<%= @volumes[l] %>"/>
        </div>
      <% end %>
    </div>
  </div>

  <div id="liters">
    <%= f.input :liters %>  
    <div class="form-group row">
      <% Disposal.available_liters[:liquid].each do |l| %>  
        <label class="col-sm-3 col-form-label">x <%= l %>L</label>
        <div class="col-sm-9">
          <input class="form-control numeric integer" type="number" name="liquid[<%= l %>]" value="<%= @volumes[l] %>"/>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-4">
    <%= f.submit %>  
  </div>
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'helpers.js' %>  
<% end %>
