<%= simple_form_for [@disposal_type, @disposal], wrapper: :horizontal_form do |f| %>  
  <%= f.dm_error_notification %>  

  <% buildings = current_organization.buildings.order(:name).to_a %>

  <% if buildings.size > 1 %>  
    <%= render partial: 'multi_labs_form', locals: { buildings: buildings } %>  
  <% elsif current_organization.labs.any? %>
    <%= f.association :lab, collection: current_organization.labs.includes(:building).order(:name) %>  
  <% else %>
    <div class="offset-sm-3 text-muted my-2 text-end">Non sono presenti laboratori da selezionare.</div>
  <% end %>

  <% if @permitted_producers && @permitted_producers.any? %>  
    <%= f.association :producer, collection: @permitted_producers, include_blank: false, label_method: :cn_militar %>  
  <% elsif policy(current_organization).manage? %>
    <%= content_tag :div, data: { controller: "dsa-awesomplete", dsa_awesomplete_users_value: @cache_users_json } do %>
      <%= f.input :producer_upn, placeholder: current_user.upn %>
    <% end %>
  <% end %>

  <%= f.input :multiple_users, as: :boolean, hint: "Selezionare in caso di <strong>punto di raccolta generico</strong>.<br/>Inserire nelle <strong>note</strong> l'elenco dei produttori.".html_safe %>
  <%= f.input :kgs, input_html: { step: 0.1, style: 'max-width: 8rem' } %>  

  <%= f.association :container, collection: @disposal.disposal_type.containers.order(:volume, :name), label_method: :to_s, include_blank: false, as: :radio_buttons %>  
  <% if @disposal.disposal_type.separable %>  
    <%= f.input :units, input_html: {style: 'max-width: 8rem'} %>  
  <% end %>

  <%= f.input :notes %>  

  <%= f.submit %> - 
  <%= link_to 'torna alla lista degli scarichi', disposals_path(h: @disposal.id, anchor: dom_id(@disposal)), class: 'underline', data: { turbo: false } %>
<% end %>
