<h1>Archivio rifiuti <%= @year %></h1>

<form class="my-2 centered disposal_type_selector">
  <% @disposal_types.each do |disposal_type| %>  
    <input type="radio" id="<%= disposal_type.id %>" name="disposal_to_show" />
    <label for="<%= disposal_type.id %>" data-disposaltypeid="<%= disposal_type.id %>">
      <%= disposal_type.to_s_short %> <br/><small><%= disposal_type.hp_codes_to_s %></small>
    </label>
  <% end %>
</form>

<div class="row">
  <% @disposals.each do |disposal| %>  
    <div class="disposal-card col-md-6" data-disposaltypeid="<%= disposal.disposal_type.id %>">
      <%= render Disposal::ShowComponent.new(current_user, disposal) %>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>  
  <%= render partial: 'show_by_type', formats: ['js'] %>  
<% end %>
