<h1>Scegli la tipologia di rifiuto</h1>

<form class="status_selector row">
  <div class="col-md-4 my-1 text-center">
    <input type="radio" id="sp" name="disposalType" />
    <label for="sp">Solido</label>
  </div>
  <div class="col-md-4 my-1 text-center">
    <input type="radio" id="snp" name="disposalType" />
    <label for="snp">Solido non pulv.</label>
  </div>
  <div class="col-md-4 my-1 text-center">
    <input type="radio" id="liq" name="disposalType" />
    <label for="liq">Liquido</label>
  </div>
</form>

<% @disposal_types.each do |disposal_type| %>
  <div class="choosable-disposal-type <%= disposal_type.physical_state %>">
    <%= link_to new_disposal_type_disposal_path(disposal_type), class: 'href-card' do %>  
      <%= render disposal_type, editable: false %>  
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'disposals/helpers', formats: [:js] %>  
<% end %>
