<h1>Scegli la tipologia di rifiuto</h1>

<div class="text-end">
  <% if @hidden %>
    <%= link_to dm_icon(:eye, text: 'mostra visibili', size: :xl), choose_disposal_type_disposals_path %>
  <% else %>
    <%= link_to dm_icon(:eye, text: 'mostra nascosti', size: :xl), choose_disposal_type_disposals_path(hidden: 1) %>
  <% end %>
</div>

<form class="status_selector row" data-controller="disposal-type">
  <div class="col-md-4 my-1 text-center">
    <input type="radio" id="sp" name="disposalType" data-action="change->disposal-type#show_by_status" />
    <label for="sp">Solido pulv.</label>
  </div>
  <div class="col-md-4 my-1 text-center">
    <input type="radio" id="snp" name="disposalType" data-action="change->disposal-type#show_by_status" />
    <label for="snp">Solido non pulv.</label>
  </div>
  <div class="col-md-4 my-1 text-center">
    <input type="radio" id="liq" name="disposalType" data-action="change->disposal-type#show_by_status" />
    <label for="liq">Liquido</label>
  </div>
</form>

<div class="">
  <% @disposal_types.each do |disposal_type| %>
    <div class="choosable-disposal-type status_<%= disposal_type.physical_state %>">
      <%= link_to new_disposal_type_disposal_path(disposal_type), class: 'href-card' do %>  
        <%= render DisposalType::CardComponent.new(current_user, disposal_type, editable: false, with_links: false) %>  
      <% end %>
    </div>
  <% end %>
</div>

<% if @disposal_types.empty? %>  
  <div class="alert alert-warning m-4">
    <p>Prima di creare un nuovo rifiuto è necessario creare le tipologie di rifiuti trattate nella vostra UL.</p>
    <p>Per farlo potete accedere alla pagina "tipologie di rifiuti" dal menu "Amm.".</p>
  </div>
<% end %>

