<h1>Scegli la tipologia di rifiuto</h1>
<h2 class="centered"><%= current_organization %></h2>

<div role="group" class="row">
  <div class="col-md-4 my-1">
    <a id="sp" onclick="showDisposalType('sp')" class="btn btn-primary btn-lg btn-block">Solido</a>
  </div>
  <div class="col-md-4 my-1">
  <a id="snp" onclick="showDisposalType('snp')" class="btn btn-primary btn-lg btn-block">Solido non pulv.</a>
  </div>
  <div class="col-md-4 my-1">
  <a id="liq" onclick="showDisposalType('liq')" class="btn btn-primary btn-lg btn-block">Liquido</a>
  </div>
</div>

<% @disposal_types.each do |disposal_type| %>
  <div class="choosable-disposal-type <%= disposal_type.physical_state %>">
    <%= link_to new_disposal_type_disposal_path(disposal_type), class: 'href-card' do %>  
      <%= render disposal_type, editable: false %>  
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'helpers.js' %>  
<% end %>
