<h1>Situazione rifiuti</h1>

<% if @user %>  
  <div class="centered">
    <h2>Produttore rifiuti: <%= @user %></h2>
  </div>
<% end %>

<div class="centered">
  <% if policy(current_organization).dispose? %>  
    <%= link_to 'NUOVO RIFIUTO', choose_disposal_type_disposals_path, class: 'btn btn-primary btn-lg' %>  
  <% end %>
</div>

<form class="my-2 centered disposal_cer_selector">
  <% @disposals_cers.each do |cer_code| %>  
    <input type="radio" id="<%= cer_code.id %>" name="disposal_to_show" />
    <label for="<%= cer_code.id %>" data-cerid="<%= cer_code.id %>">
      CER <%= cer_code.name %>  
    </label>
  <% end %>
</form>

<div class="row">
  <% @disposals.each do |disposal| %>  
    <% highlight = (@highlight_id == disposal.id) ? 'disposal-highlighted' : '' %>  
    <div id="<%= disposal.id %>" class="disposal-card col-md-6 <%= highlight %>" data-cerid="<%= disposal.disposal_type.cer_code_id %>">
      <%= render Disposal::ShowComponent.new(current_user, disposal, with_details: false) %>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>  
  <%# <%= render partial: 'disposals/js_infos', formats: [:js] %1> %>  
  <%= render partial: 'disposals/show_by_type', formats: [:js] %>  
<% end %>
