<h1><%= @title %></h1>

<% if @user %>  
  <div class="centered">
    <h2>produttore: <%= @user %></h2>
  </div>
<% end %>

<% if policy(current_organization).dispose? %>  
  <div class="centered my-4">
    <%= link_to 'INSERISCI NUOVO RIFIUTO', choose_disposal_type_disposals_path, class: 'btn btn-primary btn-lg' %>  
  </div>
<% end %>

<% if @disposals_cers.size > 1 %>  
  <form class="my-2 centered disposal_cer_selector" data-controller="disposal-selector" data-action="change->disposal-selector#change_cer">
    <small class="text-muted">mostra solo CER</small>
    <% @disposals_cers.each do |cer_code| %>  
      <input type="radio" id="<%= cer_code.id %>" name="disposal_to_show" />
      <label for="<%= cer_code.id %>" data-cerid="<%= cer_code.id %>">
        <%= cer_code.name %>  
      </label>
    <% end %>
  </form>
<% end %>

<div class="row">
  <% tot = 0 %>  
  <% @disposals.each do |disposal| %>  
    <div class="disposal-card col-md-6 col-xl-4" data-cerid="<%= disposal.disposal_type.cer_code_id %>">
      <%= render Disposal::CardComponent.new(current_user, disposal, with_details: false, highlight: (@highlight_id == disposal.id)) %>
      <% tot += 1 %>  
    </div>
  <% end %>
</div>

<% if tot > 0 %>  
  <div class="alert alert-info">
    Totale: <%= tot %> richieste  
  </div>
<% end %>
