<h1>Nuovo carico</h1>

<div class="row">
  <div class="offset-sm-3 col-sm-9">
    <%= render DisposalType::CardComponent.new(current_user, @disposal_type, editable: false) %>  

    <% if (compliance = @disposal_type.compliance) %>
      <div class="alert alert-info">
      Omologa <%= compliance.id %> -
      <%= link_to compliance.name, compliance.url %><br/>
      <%= compliance.description %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'form' %>  
