<h1>Detttagli rifiuto</h1>

<%= render @disposal %>  

<div class="centered my-2">
  <% if @disposal.undelivered? && policy(current_organization).manage? %>  
    <% if @disposal.approved? %>  
      <%= link_to 'Disaccetta', unapprove_disposal_path(@disposal), method: :post, class: 'btn btn-success btn-lg' %>  
    <% else %>
      <%= link_to 'Accetta', approve_disposal_path(@disposal), method: :post, class: 'btn btn-success btn-lg' %>  
    <% end %>
  <% end %>
  <u><%= link_to ' torna alla lista degli scarichi', disposals_path(h: @disposal.id, anchor: @disposal.id), class: 'ms-4' %></u>
</div>

<div class="my-4 centered">
  <%= qrcode(@disposal) %>  
</div>

<div class="my-4 centered">
  <% disposal_type_pictograms(@disposal.disposal_type) %>  
</div>

