<h1>Detttagli rifiuto</h1>

<%= render @disposal %>  

<div class="centered my-2">
  <% if policy(current_organization).manage? %>  
    <% if @disposal.approved? %>  
      <%= link_to 'Disaccetta', unapprove_disposal_path(@disposal), method: :post, class: 'btn btn-success btn-lg' %>  
    <% else %>
      <%= link_to 'Accetta', approve_disposal_path(@disposal), method: :post, class: 'btn btn-success btn-lg' %>  
    <% end %>
    <%= link_to ' - indietro', disposals_path %>  
  <% end %>
</div>

<div class="my-4 centered">
  <% adr_images(@disposal) %>  
</div>

<div class="my-4 centered">
  <%= qrcode(@disposal) %>  
</div>
