<h1>
  Programmazione ritiro con <br/>
  <%= @picking.supplier %>
</h1>

<%= @picking.supplier.name.upcase %> è in contratto per:

<ul class="my-2">
  <% @picking.supplier.contract_disposal_types.each do |disposal_type| %>  
    <li class="small"><%= disposal_type %></li>
  <% end %>
</ul>

<% ids = @picking.disposal_ids %>

<%= simple_form_for @picking do |f| %>  
  <%= f.input :date %>  
  <%= f.label "Rifiuti" %>

  <h2>Scegli i rifiuti</h2>
  <p>I rifiuti selezionati sono colorati di azzurro. </p>

  <%= f.association :disposals, as: :check_boxes, label_method: lambda { |d| render partial: 'disposals/disposal_line', locals: { disposal: d} } %>  

  <%= f.submit 'Salva' %>  
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'disposals/js_infos', formats: ['js'] %>  
<% end %>
