<h1>
  Programmazione ritiro con <br/>
  <%= @picking.supplier %>
</h1>

<%= @picking.supplier.name.upcase %> è in contratto per:

<ul>
  <% @picking.supplier.contract_disposal_types.each do |disposal_type| %>  
    <li><%= disposal_type %></li>
  <% end %>
</ul>

<h2>Scegli i rifiuti</h2>

<% ids = @picking.disposal_ids %>  disposal.id

<%= form_for @picking do |f| %>  
  <% @picking.supplier.contract_picking_disposals.each do |disposal| %>  
    <div class="picking-disposal" style="cursor: pointer">
      <%= render disposal, no_actions: true %>  
      <input type="checkbox" name="picking[disposal_id][]" value="<%= disposal.id %>" <%= 'checked="checked"' if ids.include?(disposal.id) %>  />
    </div>
  <% end %>
  <%= f.submit %>  
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'picking', formats: :js %>  
<% end %>
