<h1>Ritiri</h1>

<div class="centered my-4">
  <%= link_to 'Nuovo Ritiro', new_picking_path, class: 'btn btn-primary' %>  
</div>

<% if @pickings.empty? %>  
  <p class="info info-warning">
  Non sono al momento programmati ritiri per al tua UL.
  </p>
<% else %>
  <div class="list-group">
    <% @pickings.each do |picking| %>  
      <%= link_to [(picking.delivered? ? nil : :edit), picking], class: "list-group-item list-group-item-action #{picking.delivered_at ? 'list-group-item-secondary' : ''}" do %>  
        <%= picking.supplier %>
        <%= "(concluso)" if picking.delivered? %>  
        <span class="float-right"><%= picking.date ? l(picking.date) : '' %></span>   
      <% end %>
    <% end %>
  </div>
<% end %>
