<h1>
  Completa la richiesta <br/>
  <small>per <%= @picking.supplier %></small>
</h1>

<div class="info">
  È possibile modificare e completare manualmente la richiesta da stampare.
</div>

<%= form_with url: [:print_request, @picking, format: :pdf], class: "py-2 my-2" do |f| %>  
  <p class="fw-bold">Richieste aggiuntive</p>
  <div>
  <% Picking.other_requests.each do |req| %>  
    <div class="row my-1">
      <div class="col-sm-6 text-end">
        <label class="form-label">Numero di <%= req[1] %></label>
      </div>
      <div class="col-sm-6">
        <%= f.text_field req[0], class: 'form-control numeric number', style: "width: 8rem" %>
      </div>
    </div>
  <% end %>
  </div>

  <p class="fw-bold">Richieste</p>
  <% @request.volumes_and_kgs_ordered.each do |vol_and_kg| %>  
    <% dt = vol_and_kg[:dt] %>  
    <% values = vol_and_kg[:values] %>  
    <div class="card border-secondary mb-2">
      <div class="card-header <%= 'bg-secondary' if values[:kgs] > 0 %>">
        <strong><%= dt.to_s_complete %></strong>
        <small class="text-body-secondary ps-2"><%= dt.cer_code.description %></small>
      </div>

      <div class="card-body py-2">
        <div>
          <span class="pe-2">
            <%= f.number_field "dt[#{dt.id}][kgs]", value: values[:kgs].round, size: 1, type: 'number', style: 'width: 6rem', class: 'd-inline form-control numeric me-1' %>
            <small>Kg. totali per </small>
          </span>
          <% values[:volumes].keys.sort.each do |v| %>
            <span class="pe-2">
              <%= f.number_field "dt[#{dt.id}][volumes][#{v.to_s}]", value: values[:volumes][v], size: 1, stype: 'number', style: 'width: 4rem', class: 'd-inline form-control numeric me-1' %>
              <small>da <%= v %>L.</small>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%# <%= f.select :format, [:pdf, :csv] %1> %>  
  <%= f.submit "Stampa" %> - <%= link_to 'indietro', @picking %>  
<% end %>
