<h1>
  Ritiro con <%= @picking.supplier %>
  <small>(<%= @picking.date ? l(@picking.date) : 'data da definire' %>)</small>
</h1>

<% @disposals_hash.keys.sort_by{ |dt| dt.cer_code_id }.each do |disposal_type| %>  
  <% total_kgs = 0.0 %>  
  <% total_volume = 0.0 %>  
  <%= dm_card title: disposal_type.to_s_complete do %>  
    <div class="">
      <% @disposals_hash[disposal_type].each do |disposal| %>  
        <% total_kgs += disposal.kgs %>  
        <% total_volume += disposal.volume %>  
        <%= render Disposal::BadgeComponent.new(current_user, disposal) %>  
      <% end %>
    </div>
    <hr/>
    <div class="mt-1">
      <%= render PickingDocument::ShowComponent.new(current_user, @picking, disposal_type, expected_kgs: total_kgs, expected_volume: total_volume) %>  
    </div>
  <% end %>
<% end %>

<% unless @picking.delivered? %>  
  <div class="centered my-2">
    <%= link_to 'MODIFICA', [:edit, @picking], class: 'btn btn-primary' %>
    <%= link_to 'STAMPA', [:print, @picking], class: 'btn btn-primary' %>  
    <%= link_to 'ESTRAI EXCEL', [:print, @picking, format: :csv], class: 'btn btn-primary' %> 
    <span class="px-4"> - </span>
    <%= button_to 'CONCLUDI', [:deliver, @picking], method: :put, class: 'btn btn-warning', form: { data: { 'turbo-confirm': 'Siete sicuri di voler archiviare i rifiuti collegati a questo scarico?'}, class: 'd-inline px-0 mx-0' } %>  
  </div>
<% end %>

<center>
  <%= link_to_back pickings_path %>  
</center>
