<h1>
  Ritiro effettuato con <%= @picking.supplier %> <br/>
  <%= @picking.date %>  
</h1>

<% @disposals_hash.keys.sort_by{ |dt| dt.cer_code_id }.each do |disposal_type| %>  
  <h3 class="mt-4"><%= disposal_type %></h3>
  <div>
    <% @disposals_hash[disposal_type].each do |disposal| %>  
      <%= link_to disposal do %>
        <div class="d-inline me-2">
        <span class="badge bg-info"><%= disposal.id %></span>
        <%= disposal.kgs %> Kg.
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<center>
  <%= link_to_back pickings_path %>  
</center>
