<h1>
  Ritiro <%= @picking.status %> con <%= @picking.supplier %><br/>
  <small>(<%= @picking.date ? l(@picking.date) : 'data da definire' %>)</small>
</h1>

<div>
  Elenco formulari:
  <% @picking.picking_documents.each do |pd| %>  
    <%= link_to pd, pd, class: 'pe-2 underline' %>
  <% end %>
</div>

<% @disposals_hash.keys.sort_by{ |dt| dt.cer_code_id }.each do |disposal_type| %>  
  <% disposals = @disposals_hash[disposal_type] %>  
  <% picking_document = @picking.picking_document_by_disposal_type(disposal_type) %>

  <div class="dm-card">
    <div class="dm-card-title">
      <%= disposal_type.to_s_complete %>  
    </div>
    <div class="dm-card-body">
      <% unless picking_document %>  
        <% @disposals_hash[disposal_type].each do |disposal| %>  
          <%= render Disposal::BadgeComponent.new(current_user, disposal) %>  
        <% end %>
      <% end %>
      <%= render Disposal::GroupDetailsComponent.new(@disposals_hash[disposal_type]) %>  
    </div>
    <div class="dm-card-footer">
      <% if picking_document %>  
        <%= render PickingDocument::ShowComponent.new(current_user, picking_document, disposals: disposals) %>
      <% else %>
        <%= link_to 'Compila formulario', new_picking_picking_document_path(@picking, disposal_type_id: disposal_type.id), class: 'btn btn-sm btn-primary float-end' %>  
      <% end %>
    </div>
  </div>
<% end %>

<div class="centered my-2">
  <%= link_to 'STAMPA', [:new_print_request, @picking], class: 'btn btn-primary' %>  
  <% unless @picking.completed? %>  
    <%= link_to 'MODIFICA', [:edit, @picking], class: 'btn btn-primary', data: { turbo: false } %>
  <% end %>
  <span class="px-4"> - </span>
  <% unless @picking.delivered? %>  
    <%= button_to 'CONSEGNATO', [:deliver, @picking], method: :put, class: 'btn btn-warning', form: { data: { 'turbo-confirm': 'Siete sicuri?'}, class: 'd-inline px-0 mx-0' } %>  
  <% end %>
  <% if @picking.delivered? && ! @picking.completed? %>
    <%= button_to 'ARCHIVIA', [:complete, @picking], method: :put, class: 'btn btn-warning', form: { data: { 'turbo-confirm': 'Siete sicuri di voler archiviare i rifiuti collegati a questo scarico?'}, class: 'd-inline px-0 mx-0' } %>  
  <% end %>
</div>

<center>
  <%= link_to_back pickings_path %>  
</center>
