<h1>
  Ritiro effettuato con <%= @picking.supplier %> <br/>
  <%= @picking.date %>  
</h1>

<div class="list-group">
  <% @disposals.each do |disposal| %>  
    <%= link_to disposal, class: "list-group-item list-group-item-action py-2" do %>
      <span class="badge bg-info"><%= disposal.id %></span>
      <%= disposal %>
    <% end %>
  <% end %>
</div>

<center>
  <%= link_to_back pickings_path %>  
</center>
