<div data-controller="showhide" data-showhide-show-if-value="checked">
  <%= dm_form_for @compliance, title: "Scheda omologa" do |f| %>
    <% if current_user.nuter? && !@protect_type %>
      <%= 
        f.input :common, 
          as: :boolean, 
          label: "Omologa di Ateneo", 
          hint: "Se non selezionato sarà visibile solo nella struttura #{current_organization.code}", 
          input_html: {"data-showhide-target": "input"}
      %>
    <% end %>
    <% if !@compliance.new_record? %>
      <div class="offset-sm-3 fs-5 mb-2">
        <%= @compliance.type_to_s %>
      </div>
    <% end %>
    <%= f.input :id %>
    <%= f.input :name, as: :string %>
    <%= f.input :description %>
    <%= f.input :year %>
    <% if current_user.nuter? %>
      <div data-showhide-target="show">
        <%= f.input :url, as: :string %>
      </div>
    <% end %>
    <div data-showhide-target="hide">
      <% if @compliance.document.attached? && !@compliance.document.new_record? %>  
        <div class="info offset-sm-3">
          A questa omologa è già stato associato un 
          <%= link_to "documento", url_for(@compliance.document), class: "text-decoration-underline", target: "_new" %>.<br/>
          Per modificarlo selezionare un nuovo file.
        </div>
      <% end %>
      <%= f.input :document, as: :file %>  
    </div>
    <%= f.submit %>
  <% end %>
</div>
