<h1>
  Deposito temporaneo
  <% if @at %>  
    <br/><small>(accettati il <%= @at %>)</small>
  <% end %>
</h1>

<% if @approved_at %>  
  <div class="text-center">
    <% @approved_at.each do |at| %>  
      <%= link_to l(at, format: :in_list), deposit_path(at: at), class: 'underline px-2', title: "mostra i rifiuti accettati il #{at}" %>  
    <% end %>
  </div>
<% end %>

<% tot_num = tot_volume = 0 %>  
<% tot_kgs = 0.0 %>  

<% @deposit.each_key.sort_by {|dt| dt.cer_code.name}.each do |dt| %>  
  <% to_legalize_ids = [] %>  
  <div class="dm-card">
    <% ids = [] %>  
    <% num = volume = 0 %>  
    <% kgs = 0.0 %>
    <% legal_uploads = [] %>  
    <div class="dm-card-title py-2">
      <%= dt %> 
      <span class="small fw-normal float-end"><%= dt.hp_codes_to_s %></span>
    </div>
    <div class="dm-card-body">
      <% @deposit[dt].each do |disposal| %>  
        <% ids << disposal.id %>  
        <% num += disposal.units %>  
        <% kgs += disposal.kgs %>  
        <% volume += disposal.volume_tot %>
        <% to_legalize_ids << disposal.id unless disposal.legalized? %>  
        <% legal_uploads << disposal.legal_upload if disposal.legal_upload %>  
        <%= render Disposal::BadgeComponent.new(current_user, disposal) %>  
      <% end %>
    </div>
    <div class="dm-card-footer py-2">
      <span class="font-weight-bold"><%= num %> coll<%= num > 1 ? "i" : "o" %></span>: 
      <span class="mx-1"><strong><%= volume %></strong> L. </span> -
      <span class="mx-1"><strong><%= kgs.round(2) %></strong> Kg. </span> totali.

      <% if to_legalize_ids.any? %>  
        <div class='d-inline-block float-end'>
          <%= link_to 'Registra carico', new_disposal_type_legal_upload_path(dt, disposal_ids: to_legalize_ids), class: "ms-2 btn btn-primary btn-sm" %>  
        </div>
      <% end %>

      <% if legal_uploads.any? %>  
        <div class="float-end">
          Elenco carichi: 
          <% legal_uploads.sort.uniq.each do |lu| %>  
            <%= link_to lu, lu, class: 'ps-1 underline' %>  
          <% end %>
        </div>
      <% end %>
    </div>

    <% tot_num += num %>  
    <% tot_kgs += kgs %>  
    <% tot_volume += volume %>  
  </div>
<% end %>

<div class="my-4">
  <span class="alert alert-warning font-weight-bold">
    Totale: 
    <strong><%= tot_num %></strong> colli per 
    <strong><%= tot_volume %></strong> Litri e
    <strong><%= tot_kgs.ceil %></strong> Kg. 
  </span>
</div>
