<h1>
  Deposito temporaneo
  <% if @at %>  
    <br/>(apporto del <%= @at %>)
  <% end %>
</h1>

<div class="text-center">
<% @approved_at.each do |at| %>  
  <%= link_to l(at), deposit_path(at: at), class: 'text-underline px-2' %>  
<% end %>
</div>

<% tot_num = tot_kgs = tot_volume = 0 %>  
<% @deposit.each_key.sort_by {|dt| dt.cer_code.name}.each do |dt| %>  
  <div class="dm-card">
    <% num = kgs = volume = 0 %>  
    <div class="dm-card-title py-2">
      <%= dt %> 
      <span class="small fw-normal float-end"><%= dt.hp_codes_to_s %></span>
    </div>
    <div class="dm-card-body">
      <% @deposit[dt].each do |disposal| %>  
        <% num += 1  %>  
        <% kgs += disposal.kgs.to_i %>  
        <% volume += disposal.volume %>  
        <%= render Disposal::BadgeComponent.new(current_user, disposal) %>  
      <% end %>
    </div>
    <div class="dm-card-footer py-2">
      <span class="font-weight-bold"><%= num %> coll<%= num > 1 ? "i" : "o" %></span>: 
      <span class="mx-1"><strong><%= volume %></strong> L. totale</span>
      <span class="mx-1"><strong><%= kgs %></strong> Kg. totale</span>
    </div>
    <% tot_num += num %>  
    <% tot_kgs += kgs %>  
    <% tot_volume += volume %>  
  </div>
<% end %>

<div class="my-4">
  <span class="alert alert-warning font-weight-bold">
    Totale: 
    <%= tot_num %> colli per 
    <%= tot_volume %> Litri e
    <%= tot_kgs %> Kg. 
  </span>
</div>



