<h1>Produttori rifiuti</h1>

<div class="centered">
  <%= link_to 'Nuovo produttore di rifiuti', new_producer_path, class: 'btn btn-primary' %>  
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: 'info' %>  
    <div class="alert alert-warning my-4">
      <div class="fw-bold">Responsabili:</div>
      <ul>
        <% @admin_permissions.each do |permission| %>  
          <li><%= permission.user %> <small>(<%= permission.user.upn %>)</small></li>
        <% end %>
      </ul>
      <div class="fw-bold">Delegati:</div>
      <ul>
        <% @manager_permissions.each do |permission| %>  
          <li><%= permission.user %> <small>(<%= permission.user.upn %>)</small></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <% @producer_permissions.each do |permission| %>  
      <%= dm_card title: permission.user.cn_militar do %>  
        <% current_organization.permissions.where(producer_id: permission.user_id).includes(:user).each do |operator_permission| %>  
          <div class="my-1">
            operatore: <%= operator_permission.user %>
          <i>(fino al <%= operator_permission.expiry ? l(operator_permission.expiry) : '???' %>)</i>
          <span class="float-end">
            <%= link_to_delete operator_path(operator_permission.id) %>
            <%= link_to_edit edit_operator_path(operator_permission.id) %>
          </span>
          </div>
        <% end %>
        <div class="mt-2 float-end">
          <%= link_to dmicon('plus') + ' aggiungi operatore', new_producer_operator_path(permission.user_id) %> &nbsp;  
          <%= link_to_delete "elimina produttore", producer_path(permission) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
