<h1><%= current_organization.description %> <small><%= current_organization.id %></small></h1>

<%= render partial: 'form' %>

<%= dm_card title: "Utenti" do %>
  <dl>
    <% @permissions_hash.each do |authlevel, permissions| %>
      <dt><%= Authorization.level_description(authlevel).upcase %></dt>
      <dd>
      <%= permissions.map{|p| p.user.to_s}.join(', ') %>
      </dd>
    <% end %>
    <% if current_user.is_cesia? %>  
      <%= link_to 'Modifica', dm_unibo_common.organization_permissions_path(current_organization), class: 'btn btn-primary' %>  
    <% end %>
  </dl>
<% end %>
