<h1>
  <%= current_organization.code %> 
</h1>

<% if policy(current_organization).edit? %>  
  <%= render partial: 'form' %>
<% end %>

<%= dm_card title: "Permessi" do %>
  <dl>
    <% @permissions_hash.each do |authlevel, permissions| %>
      <dt><%= Authorization.level_description(authlevel).upcase %></dt>
      <dd>
      <%= permissions.map{|p| p.user.to_s}.join(', ') %>
      </dd>
    <% end %>
    <% if current_user.is_cesia? %>  
      <%= link_to 'Modifica', dm_unibo_common.organization_permissions_path(current_organization), class: 'btn btn-primary' %>  
    <% end %>
  </dl>
<% end %>
