<h1>Gestione strutture</h1>

<div class="info">
  Elenco delle strutture e permessi.
  In rosso i responsabili.
</div>

<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-md-6 text-end">
      <span class="text-sm font-light"><%= organization.name %></span>
      <b><%= organization.code.upcase %></b>
    </div>
    <div class="col-md-6">
      <% organization.permissions.each do |p| %>  
        <% color = (p.authlevel > 40) ? 'text-danger' : '' %>  
        <div>
          <span class="<%= color %>"><%= p.user %> (<%= p.authlevel %>)</span>
          <small>(<%= l p.created_at, format: :date_html5 %>)</small>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
