<h1>Gestione strutture</h1>

<div class="info">
  Elenco delle strutture.
</div>

<div class="list-group">
  <% @organizations.each do |organization| %>
    <%= link_to organization, data: { turbo_frame: :modal }, class: "list-group-item list-group-item-action" do %>  
      <b><%= organization.code.upcase %></b> <small class="px-2"><%= organization.name %></small>
      <% if count = @counts[organization.id] %>  
        <div class="badge <%= count < 10 ? 'bg-secondary' : 'bg-success' %>"><%= count %> rifiuti</div>  
      <% end %>
    <% end %>
  <% end %>
</div>
