<h1>Fornitori</h1>

<div class="alert alert-warning" role="alert">
  I fornitori sono <b>comuni a tutte le strutture</b>.<br/>
  Vi preghiamo di inserire/aggiornare questi dati con cura.
</div>


<div class="centered my-4">
  <%= link_to_new 'Registra nuovo fornitore', new_supplier_path %>
</div>

<div class="list-group">
  <% @suppliers.each do |supplier| %>  
    <%= link_to [:edit, supplier], class: 'list-group-item list-group-item-action' do %>
      <div>
      <strong><%= supplier.name.upcase %></strong>
      <span class="float-end small">(p.i. <%= supplier.pi %>)</span>
      </div>
      <div class="small mt-2 ps-2"><%= supplier.address %></div>
      <div class="small mt-2 ps-2"><strong>Cer:</strong> <%= supplier.cer_codes.pluck(:name).join(", ") %></div>
    <% end %>
  <% end %>
</div>
