<h1>Fornitori</h1>

<div class="centered my-4">
  <%= link_to_new 'Registra nuovo fornitore', new_supplier_path, modal: true %>
</div>

<div class="list-group">
  <% @suppliers.each do |supplier| %>  
    <%= link_to [:edit, supplier], class: 'list-group-item list-group-item-action' do %>
      <%= supplier.name.upcase %>  
      <span class="float-right small">(p.i. <%= supplier.pi %>)</span><br/>
      <%= supplier.cer_codes.map(&:to_s).join(", ") %>  
    <% end %>
  <% end %>
</div>
