<h1>Fornitori</h1>

<% if policy(:supplier).new? %>  
  <div class="centered my-4">
    <%= link_to_new 'Registra nuovo fornitore', new_supplier_path %>
  </div>
<% end %>

<div class="list-group">
  <% @suppliers.each do |supplier| %>  
    <div class='list-group-item list-group-item'>
      <div>
        <strong><%= supplier.name.upcase %></strong>
        <span class="float-end small">(p.i. <%= supplier.pi %>)</span>
      </div>
      <div class="small mt-2 ps-2"><%= supplier.address %></div>
      <div class="small mt-2 ps-2"><strong>Cer:</strong> <%= supplier.cer_codes.pluck(:name).join(", ") %></div>
      <% if policy(supplier).edit? %>  
        <div class="float-end">
          <%= link_to_edit [:edit, supplier] %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
