<h1>Laboratori</h1>

<div class="centered">
  <%= link_to 'Nuovo Laboratorio', new_lab_path, class: 'btn btn-primary' %>  
</div>

<% if @labs.keys.any? %>  
  <ul class="info my-2">
    <% @labs.keys.each do |building| %>  
      <li>
        Edificio <strong><%= building.name %></strong> 
        <%= building.address %>  
        <span class="text-muted ps-3"><%= building.description %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <% @labs.keys.each do |building| %>  
    <div class="col-md-6">
      <div class="my-2 fw-bold"><%= building %></div>
      <div class="list-group my-4">
        <% @labs[building].each do |lab| %>  
          <% used = @used_labs_ids[lab.id] %>  
          <%= link_to [:edit, lab], class: 'list-group-item list-group-item-action' do %>
            <%= lab %>
            <% if n = @used_labs_ids[lab.id] %>  
              <span class="float-end badge bg-secondary"><%= n %> rifiuti</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
