<% percentage = 0.1 %>

<h1>
  Report<br/>
  <small><%= @supplier %></small>
</h1>

<div class="d-flex">
  <div class="pe-3" style="width: 250px">
    <%= render partial: "selections" %>  
  </div>
  <div class="flex-fill">
    <% if @supplier %>  
      <% contract_hash = @supplier.contracts.inject({}) {|res, c| res[c.cer_code_id] = c.price; res} %>  

      <% current_organization_id = 0 %>
      <% ul_sum = Hash.new{|h, k| h[k] = 0.0} %>  

      <table class="table table-sm">
        <thead>
          <tr>
            <th>UL</th>
            <th>FORMULARIO</th>
            <th>DATA</th>
            <th>CER</th>
            <th class="number">Kg.</th>
            <th class="number">Kg. 4&deg; copia</th>
            <th class="number">&euro; / Kg.</th>
            <th class="number">TOTALE</th>
          </tr>
        </thead>
        <tbody>
          <% @pickings.each do |picking| %>
            <% picking.picking_documents.each do |document| %>  
              <% cer_code = document.disposal_type.cer_code %>  
              <% price = contract_hash ? contract_hash[cer_code.id] : 0 %>  
              <% my_kgs = document.disposals_kgs %>  
              <% missing_percernt = ((my_kgs - document.kgs).abs)/document.kgs %>  
              <tr class="table-info">
                <th>
                  <% if (current_organization_id != (current_organization_id = picking.organization_id)) %>
                    <%= link_to picking.organization.code, picking.organization, data: { turbo_frame: :modal }, class: "underline" %>
                  <% end %>
                </th>
                <td class="<%= "bg-secondary text-white" unless picking.completed? %>"><%= document %></td>
                <td><%= picking.date %></td>
                <td><%= cer_code %></td>
                <td class="number"><%= my_kgs %> <small>Kg.</small></td>
                <td class="number <%= "bg-danger text-white" if (missing_percernt > percentage) %>"><%= document.kgs %> <small>Kg.</small></td>
                <td class="number bg-warning"><%= "%.2f" % price %> &euro;</td>
                <td class="number">
                  <%= tot = document.kgs * price %> &euro;
                  <% ul_sum[picking.organization] += tot %>  
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <ul class="text-end alert alert-secondary">
        <% ul_sum.each do |o, p| %>  
          <li>Totale <%= o.code %>: <strong><%= p %> &euro;</strong></li>
        <% end %>
      </ul>

      <div class="text-muted">
        <p>
        In <span class="text-danger">rosso</span> quando c'e' uno scarto superore al 
        <strong><%= percentage * 100 %>%</strong> tra quanto registrato in almarusco e quanto registrato nella quarta copia.
        </p>
        <p>
        In <span class="text-secondary">grigio</span> quando il ritiro non non è concluso.
        </p>
      </div>
    <% end %>
  </div>
</div>
