<h1 class="title">Elenco registrazioni carico/scarico</h1>

<ul class="list-group" data-controller="accordion">
  <% @legal_records.each do |lr| %>  
    <li class="list-group-item">
      <button class="fw-bold w-100 d-block text-start" data-action="accordion#openContent" data-accordion-url-param="<%= lr.is_a?(LegalDownload) ? legal_download_path(lr) : legal_upload_path(lr) %>">
        <% if (lr.is_a?(LegalDownload)) %>  
          <i class="fa-solid fa-upload pe-1"></i> Scarico <%= lr %>
        <% else %>
          <i class="fa-solid fa-download pe-1"></i> Carico <%= lr %>
        <% end %>
      </button>
      <div class="details" id="<%= dom_id lr %>">
      </div>
    </li>
  <% end %>
</ul>

<div class="my-4">
  <%= link_to fwdmicon('stamp') + ' Mostra i rifiuti ancora da registrare', todo_legal_records_path, class: :button %>
</div>
