<h1 class="title">Elenco registrazioni carico/scarico</h1>

<div data-controller="limit-visible">
  <form class="my-2 centered disposal_cer_selector">
    <small class="text-muted">mostra solo CER</small>
    <% @disposal_types.each do |dt| %>  
      <input type="radio" id="<%= dt.id %>" name="disposal_to_show" value="<%= dt.id %>" data-action="change->limit-visible#update" />
      <label for="<%= dt.id %>">
        <%= dt.cer_code.name %>  
      </label>
    <% end %>
  </form>

  <div class="row">
    <div class="col-4 overflow-scroll" style="height: 700px;">
    <ul class="list-group mt-3" data-controller="accordion">
      <% @legal_records.each do |lr| %>  
        <%= link_to lr, class: "list-group-item list-group-item-action", data: {turbo_frame: "legal_details", text: lr.disposal_type_id, "limit-visible-target": "item"} do %> 
          <% if (lr.is_a?(LegalDownload)) %>  
            <i class="fa-solid fa-upload pe-1"></i> Scarico <%= lr %>
          <% else %>
            <i class="fa-solid fa-download pe-1"></i> Carico <%= lr %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    </div>
    <div class="col-8 mt-0">
      <%= turbo_frame_tag :legal_details do %>
      <% end %>
    </div>
  </div>
</div>

<div class="my-4">
  <%= link_to dm_icon('stamp', text: 'Mostra i rifiuti ancora da registrare'), todo_legal_records_path, class: :button %>
</div>
