<% if true_user && current_user && current_organization %>  
  <% search_component = DmUniboCommon::SearchComponent.new(search_path: search_path, placeholder: "n. ident.", type: "number", title: "Cerca da numero identificativo") %>
<% end %>

<%= render DmUniboCommon::MenuComponent.new(sso_user_upn, current_organization: current_organization, search_component: search_component) do %>  
  <% if true_user && current_user && current_organization %>  
    <% if policy(current_organization).manage? || current_user.nuter? %>  
      <%= dropdown_menu :disposal, dm_icon('trash-can', text: 'Rifiuti.', fw: true, size: :lg) do  %>
        <li><%= link_to dm_icon('plus', fw: true, text: 'Nuovo rifiuto'), choose_disposal_type_disposals_path %></li>
        <li><%= link_to dm_icon('circle-exclamation', fw: true, text: 'Richieste incomplete'), disposals_path(uncomplete: 1) %></li>
        <li><%= link_to dm_icon('trash', fw: true, text: 'Richieste da accettare'), disposals_path(acceptable: 1) %></li>
        <li><%= link_to dm_icon('house', fw: true, text: 'Deposito temporaneo'), deposit_path %></li>
        <li><%= link_to dm_icon('truck', fw: true, text: 'Ritiri'), pickings_path %></li>
        <li><%= link_to dm_icon('print', fw: true, text: 'stampe etichette'), new_print_path %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to dm_icon('file', fw: true, text: 'Registrazioni'), legal_records_path %></li>
      <% end %>

      <%= dropdown_menu :amm, dm_icon('gears', text: 'Amm.', fw: true, size: :lg) do  %>
        <li><%= link_to dm_icon('trash', fw: true, text: 'Codici CER'), cer_codes_path %></li>
        <li><%= link_to dm_icon('trash', fw: true, text: 'Codici UN'), un_codes_path %></li>
        <li><%= link_to dm_icon('book', fw: true, text: 'Omologhe'), compliances_path %></li>
        <li><%= link_to dm_icon('stamp', fw: true, text: 'Registri'), registers_path %></li>
        <li><%= link_to dm_icon('list', fw: true, text: 'Tipologie di rifiuti'), disposal_types_path %></li>
        <li><%= link_to dm_icon('truck', fw: true, text: 'Destinatari'), suppliers_path %></li>
        <li><%= link_to dm_icon('flask', fw: true, text: 'Laboratori'), labs_path %></li>
        <li><%= link_to dm_icon('users', fw: true, text: 'Permessi'), producers_path %></li>
        <li><%= link_to dm_icon('wrench', fw: true, text: 'Configurazioni'), current_organization_edit_path %></li>
        <li><%= link_to dm_icon('print', fw: true, text: 'MUD'), mud_path %></li>
        <!-- CESIA -->
        <% if current_user.nuter? %>  
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Nuter</h6>
          <li><%= link_to dm_icon('building', fw: true, text: 'Strutture'), organizations_path %></li>
          <li><%= link_to dm_icon('building', fw: true, text: 'Reports'), report_path %></li>
          <li><%= link_to dm_icon('chart-pie', fw: true, text: 'Statistiche'), charts_path, data: {turbo: false} %></li>
        <% end %>
        <% if current_user.is_cesia? %>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Cesia</h6>
          <li><%= link_to dm_icon('building', fw: true, text: 'DM UNIBO Strutture'), dm_unibo_common.organizations_path %></li>
          <li><%= link_to dm_icon('user', fw: true, text: 'Autorizzazioni'), dm_unibo_common.permissions_path %></li>
        <% end %>
      <% end %>
    <% else %>
      <li><%= link_to dm_icon('trash', fw: true, text: 'Elenco rifiuti'), disposals_path %></li>
      <li><%= link_to dm_icon('circle-plus', fw: true, text: 'Nuovo rifiuto'), choose_disposal_type_disposals_path %></li>
      <li><%= link_to dm_icon('print', fw: true, text: 'Stampe etichette'), new_print_path %></li>
    <% end %>

    <% if current_user.multi_organizations? %>
      <li><%= link_to dm_icon('exchange-alt', fw: true, text: 'Cambia struttura', size: :lg), choose_organization_path %></li>
    <% end %>
  <% end %>  
<% end %>
