<%= dm_menu do %>  
  <%= dm_header %>
  <% if current_user && current_organization %>  
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <%= dropdown_menu :disposal, big_dmicon('trash-alt') + ' Rifiuti.' do  %>
          <%= link_to fwdmicon('plus') + ' nuova rifiuto', choose_disposal_type_disposals_path %>
          <%= link_to fwdmicon('print') + ' stampe', new_print_path %>
          <% if current_organization && policy(current_organization).manage? %>
            <%= link_to fwdmicon('trash') + ' richieste', disposals_path %>
            <%= link_to fwdmicon('info-circle') + ' deposito temporaneo', infos_path %>
            <%= link_to fwdmicon('truck') + ' ritiri', pickings_path %>
          <% end %>
        <% end %>

        <!-- amministrazione -->
        <% if current_organization && policy(current_organization).manage? %>  
          <%= dropdown_menu :amm, big_dmicon('cogs') + ' Amm.' do  %>
            <%= link_to fwdmicon('trash') + ' Codici CER', cer_codes_path %>
            <%= link_to fwdmicon('trash') + ' Codici UN', un_codes_path %>
            <%= link_to fwdmicon('list') + ' tipologie di rifiuti', disposal_types_path %>
            <%= link_to fwdmicon('truck') + ' Fornitori', suppliers_path %>
            <%= link_to fwdmicon('wrench') + ' Configurazioni', current_organization_edit_path %>
            <%= link_to fwdmicon('flask') + ' Laboratori', labs_path %>
            <%= link_to fwdmicon('users') + ' Permessi', producers_path %>
            <!-- CESIA -->
            <% if current_user.is_cesia? %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Cesia</h6>
              <%= link_to fwdmicon('building') + ' Strutture',      dm_unibo_common.organizations_path %>
              <%= link_to fwdmicon('user') + ' Autorizzazioni', dm_unibo_common.permissions_path %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_organization && current_user.multi_organizations? %>
          <li><%= link_to fwdmicon('exchange-alt') + ' cambia struttura', choose_organization_path %></li>
        <% end %>

        <% if current_user.is_cesia? %>  
          <li><%= link_to big_dmicon('list'), organizations_path %></li>
        <% end %>
      </ul>

      <%= form_tag search_path, class: "form-inline my-2 my-lg-0 ml-3", role: "search" do %>
        <input name="search_string" size="6" class="form-control mr-sm-2" type="search" placeholder="num. ident." aria-label="Cerca"/>
      <% end %>

      <%= logged_user %>  
    </div>
  <% end %>  
<% end %>
