<!DOCTYPE html>
<html lang="it">
  <%= render DmUniboCommon::HeaderComponent.new %>
  <body>
    <%= render partial: 'layouts/menu' %>

    <main role="main" class="container">
      <%= render PermissionAlertComponent.new(@alert_permissions) %>  
      <%= render DmUniboCommon::PrivacyAlertComponent.new(cookies) %>  
      <%= render DmUniboCommon::BootstrapAlertComponent.new(flash) %>  

      <%= turbo_frame_tag "modal" %>

      <% if current_organization %>  
        <h2 class="centered">
          <%= current_organization.code %> - <%= current_organization.name %>
        </h2>
      <% end %>

      <%= yield %>
    </main>

    <%= render DmUniboCommon::FooterComponent.new(current_user, contacts_path: contacts_path) %>
    <%= render DmUniboCommon::ImpersonationComponent.new(current_user, true_user, 
                                                         who_impersonate_path: dm_unibo_common.who_impersonate_path, 
                                                         stop_impersonating_path: dm_unibo_common.stop_impersonating_path) %>
  </body>
</html>
