<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestione Rifiuti Speciali. Università di Bologna.">
    <meta name="author" content="Dipartimento di Matematica - Unibo - Pietro Donatini">
    <title>AlmaRusco - Gestione Rifiuti Speciali - Università di Bologna</title>

    <%# <%= stylesheet_pack_tag 'application', media: 'all' %1> %>
    <%= javascript_pack_tag 'application' %>

    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= render partial: 'layouts/menu' %>

    <main role="main" class="container">
      <%= bootstrap_modal_div %>
      <%= bootstrap_flash %>

      <% begin %>  
        <%= yield %>
      <% rescue => errore %>
        <%= errore %>
      <% end %>
    </main><!-- container -->

    <%= render partial: 'layouts/footer' %>
  </body>
</html>

