<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestione Rifiuti Speciali. Università di Bologna.">
    <meta name="author" content="Dipartimento di Matematica - Unibo - Pietro Donatini">
    <title>AlmaRusco - Gestione Rifiuti Speciali - Università di Bologna</title>

    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "fa.all.min", "application" %>
  </head>
  <body>
    <% unless @no_menu %>  
      <%= render partial: 'layouts/menu' %>
    <% end %>

    <main role="main" class="container">
      <%= bootstrap_modal_div %>
      <%= bootstrap_flash %>

      <% if current_organization %>  
        <h2 class="centered"><%= current_organization.code %> - <%= current_organization.name %></h2>
      <% end %>

      <% begin %>  
        <%= yield %>
      <% rescue => errore %>
        <%= errore %>
      <% end %>
    </main><!-- container -->

    <% unless @no_menu %>  
      <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>

